/*Steve's css styling*/
* {
  margin: 0;
  padding: 0;
}
iframe{
    border-width: 0px;
}
.logo{
  width:100px;
  height: 100px;
}
body {
  width: 1266px;
  height: auto;
  margin: auto; 
  border-style: solid;
  border-color: black;
  box-shadow: 10px 10px 5px #888888;
  background-image: url(../images/brown-background.jpg);
  background-size: cover;
  font-family: Nobile, sans-serif;
  
  

}
 
.content-wrapper {
  background-color: #64AD64;
}

h1 {
  font-size: 65px;
  text-align: center;
  text-shadow: 1px 1px 5px grey
}

header {
  display: grid;
  grid-template-columns: 10% 80%;
  background-color: white;
  padding: 1em 1em;
  
  
}

ul {
  list-style-type: none;
  display: grid;
  
  /* Robert added extra columns to cover other pages */
  grid-template-columns: 13% 14% 17% 18% 19% 19%;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

li a {
  border-style: solid;
  border-color: #64AD64;
  text-decoration: none;
  border-radius: 18px;
  border-width: 1.5px;
  padding: 2px 10px;
  color: black;
}

li a:hover {
  background-color: lightgreen;
}

h3 {
  text-align: center;
  color: ghostwhite;
  padding: 5px;
  margin: 15px;
  text-decoration: underline;
  font-size: 25px;  
}

.media {
  text-align: center;
  margin: 10px;
}

.images {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-around;
  justify-content: flex-end;
  margin: 10px;
}

.pitch {
  text-align: center;
}

p {
  margin: 10px;
  text-align: justify;
  justify-content: center;
  font-family: "source sans pro", sans-serif;
}


.upcoming-events {
  text-align: center;
 
}

.button {
  text-decoration: none;
  color: ghostwhite;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 5px;
}

.button:hover {
  background-color: orange;
}

  
.events-container {
  padding-top: 20px
}

.about-padding {
  padding-top:10px;
  padding-bottom:10px;
  padding-left:50px;
  padding-right:50px;
  text-align:center;
}

/* robert changed the background color of footer to match header */
footer {
  background-color: white;
  text-align: center;
  padding: 10px;
}

/* robert changed the color of icons */
i { 
  margin: 5px;
  color: #7e7ee8;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}

/*Robert's CSS Styling*/
.lessons-img{
  width=160px; 
  height:160px;
}
.education{
  align-items: center;
}
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
}
		
/*  steve's edits on 12/4/17*/

/* following styles are for lessons page */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: #c4c2c1;
  padding: 1em 3em 1em 3em;
  border: 1px black;
  
}


.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #c4c2c1;
  padding: 1em 3em 1em 3em;
  border: 1px black;
  margin-bottom: 20px;
}
.grid-item {
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 10px;
  font-size: 13px;
  text-align: center;
  
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}
/*.css for Instructor page*/
.content-block{
  height: 15rem;
}
.content-block img{
  width: 10em;
  float: left;
}

.content-block figcaption{
  margin: 0 1em 0 18em;
}

.block2{
  clear: both;
}

.block3{
  clear: both;
}
