*{
  margin: 0;
  padding: 0;
}

body{
  background-color: blanchedalmond;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.wrapper{
  text-align: left;
  margin: 0 10vw;
}

.content-block{
  float: left;
  
}

.block1{
  background-color: aqua;
}

.block2{
  background-color: burlywood;
}

.block3{
  background-color: greenyellow;
}

img{
  float: left;
  height: 400px;
  width: 400px;
}

footer{
  clear: both;
  text-align: center;
}



